@use "tokens" as *;

@media print {
  @page {
    margin: $print-page-margin;
    size: A4;
  }

  html,
  body {
    background: #fff;
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;

    // useful for css print emulator
    width: $print-page-width - 2 * $print-page-margin;
    height: $print-page-height - 2 * $print-page-margin;

    // if a scrollbar shows up, it means the content overflows the page size, 
    // then if u wanna print, one page will not be enough.
    overflow: auto;
  }
}
