@use "../styles/tokens" as *;

.entry,
.skill-group {
  font-size: var(--font-size-md);
  line-height: var(--line-height-normal);
}

.entry + .entry,
.skill-group + .skill-group {
  margin-top: var(--gap-m);
}

.entry p,
.skill-group p {
  color: $muted;
  margin-top: var(--gap-2xs);
}

.entry a {
  // display: block;
  font-size: var(--font-size-md);
  line-height: var(--line-height-normal);
  margin-top: var(--gap-s);
  margin-right: var(--gap-sm);
}

.entry__meta,
.entry__note {
  font-size: var(--font-size-md);
  opacity: 0.8;
}

@media print {
  .entry {
    break-inside: avoid;
  }
}
